*{
    margin: 0;
    padding: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#contenedor{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}


.header {
    background-color: #3773d6;
    height: 100px;
    margin-bottom: 15px;
}

.logo a {
    text-decoration: none; /* to remove underline */
    color: white;
}

.logo h1{
    padding-left: 10px;
}

.menu_cont {
    background-color: #233353;
}

.menu_cont li {
    list-style: none;
    padding-left: 0;
    text-align: right;
}

.menu_cont li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.row {
    background-color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both
}

.body {
    width: 70%;
    padding-left: 0;
    padding-right: 0;
    background-color: #676667;
    padding: 15px;

    box-sizing: border-box;
    float: left;
}

.title {
    background-color: white;
    padding: 15px;
}

.title h2{
    padding-bottom: 15px;
}

.title p{
    padding-bottom: 5px;
}

.column {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 5px;
}

.firstrow {
    background-color: white;
    padding: 5px;
    margin-top: 10px;
}

.firstrow:after {
    content: "";
    display: table;
    clear: both
}

.firstrow h3{
    padding-bottom: 15px;
}

.firstrow p {
    padding-bottom: 20px;
}

.banner {
    box-sizing: border-box;
    float: right;
    width: 30%;
}

